<%- include('./header')-%>

<body>
    <div class="container mt-3">
        <div class="alert alert-success" role="alert">
            <div class="d-flex flex-row justify-content-center">
                <h1 class="display-4"><%=mensaje%></h1>
            </div>
        </div>
    </div>
    <script>
        setTimeout(() => { window.location = '/'}, 2000)
    </script>
</body>

<%- include('./pie')-%>