<% if(random) { %>
    <div class="container mt-3">
        <div class="col-8 d-flex  flex-row align-items-start">
            <h6 class="p-2">Random:</h6>
            <p class="p-2" style="font-size: 1em; font-style: italic;"><%=random%></p> 
        </div>
        
    </div>
<% } %> 